.aboutContainer {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
  min-height: 100vh;
}

.topCorner {
  position: absolute;
  top: 0;
  right: 0;
  width: 200px;
  height: 200px;
  z-index: -1;
}

.bottomCorner {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 200px;
  height: 200px;
  z-index: -1;
}

.header {
  margin-bottom: 2rem;
}

.title {
  font-size: 2.5rem;
  font-weight: bold;
  color: #333;
}

.content {
  font-size: 1.1rem;
  line-height: 1.6;
  color: #444;
}

.paragraph {
  margin-bottom: 1.5rem;
}

.callout {
  background-color: #f5f5f5;
  border-left: 4px solid #666;
  padding: 1rem;
  margin: 2rem 0;
  font-style: italic;
} 