.sidebar {
    width: 300px;
    background-color: var(--background-start);
    border-right: 1px solid var(--border);
    transition: margin-left 0.3s ease-in-out;
    padding: 20px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    height: 100%; /* Ensure it takes full height of its container */
  }
  
  .sidebar.closed {
    margin-left: -300px;
  }
  
  .sidebar.open {
    margin-left: 0;
  }
  
  .title {
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 1.25rem;
    font-weight: 600;
    color: var(--foreground);
  }

  .navigation {
    flex-grow: 1; /* Allows this area to fill available space */
    overflow-y: auto; /* Add scroll only to the tag tree area if it overflows */
  }
  
  .filterControls {
    margin-top: 1rem;
    padding: 1rem 0 0 0;
    border-top: 1px solid var(--border);
    background-color: var(--background-start);
    display: flex;
    gap: 0.5rem;
  }
  
  .applyButton, .clearButton {
    flex: 1;
    padding: 0.5rem;
    border: 1px solid var(--border);
    border-radius: 5px;
    background-color: var(--background-start);
    color: var(--foreground);
    cursor: pointer;
    font-size: 1rem;
  }
  
  .applyButton {
    background-color: var(--primary-color);
    color: white;
    border-color: var(--primary-color);
  }
  
  .clearButton {
    background-color: transparent;
  } 