.spinnerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--spacing-lg);
}

.spinner {
  border: var(--border-width-medium) solid var(--reader-chrome-border-color);
  width: var(--spacing-2xl);
  height: var(--spacing-2xl);
  border-radius: 50%;
  border-left-color: var(--reader-focus-ring-color);

  animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 
