.searchForm {
  display: flex;
  align-items: center;
  gap: var(--spacing-sm);
}

.searchInput {
  padding: var(--spacing-sm) var(--spacing-sm);
  border: var(--border-width-thin) solid var(--border1-color);
  border-radius: var(--border-radius-md);
  font-size: var(--font-size-base);
  flex-grow: 1;
  min-width: 200px;
}

.searchButton {
  padding: var(--spacing-sm) var(--spacing-md);
  border: var(--border-width-thin) solid var(--color3);
  background-color: var(--color3);
  color: var(--color2);
  border-radius: var(--border-radius-md);
  font-size: var(--font-size-base);
  cursor: pointer;
  transition: background-color 0.2s;
}

.searchButton:hover {
  background-color: var(--color3-light);
} 